//fuentes
$fuentePrincipal: "Staatliches", sans-serif;

 //media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$degradadoAzul: #4ab1ff;
$degradadoVerde: #0bebfe;
$negro: #1F2937;
$blanco: #FFF;
$border: #d1d1d1;